#   A basic travis.yml boilerplate for Django projects
#
#   The set-up assumes a postgreSQL database.
#

language: python

python:
  - 2.7

services: postgresql

env:
- DJANGO=1.10.2

#before_install:
#  - export DJANGO_SETTINGS_MODULE=application.settings
#  - export PYTHONPATH=$HOME/builds/DEKHTIARJonathan/RSS-Manager
#  - export PIP_USE_MIRRORS=true

install:
- pip install -r requirements.txt
- pip install django==$DJANGO --quiet
- pip install psycopg2 --quiet

before_script:
- psql -c "CREATE DATABASE travisci;" -U postgres

script:
#  - nosetests
#  - python manage.py runserver
#  - python manage.py collectstatic --noinput
#  - python manage.py migrate
#  - python run manage.py test hello
- python manage.py collectstatic --noinput
- python manage.py makemigrations hello_world
- python manage.py migrate
- coverage run manage.py test

after_success:
- codeclimate-test-reporter

notifications:
    slack: utc-tx-gsm:oNPeOwfQS4YV4466fuXYqSUs
    email: false

addons:
    code_climate:
        repo_token: 950661908571d319718297ce235ba06964429011b8cb829a473415cae62e93f9
    
deploy:
  provider: heroku
  app: django-securityapi
  api_key: HEROKU_KEY #clé d'auth associée au compte commun
