#   A basic travis.yml boilerplate for Django projects
#
#   The set-up assumes a postgreSQL database.
#

language: python

python:
  - 2.7

services: postgresql

env:
  - DJANGO=1.10.2

#before_install:
#  - export DJANGO_SETTINGS_MODULE=application.settings
#  - export PYTHONPATH=$HOME/builds/DEKHTIARJonathan/RSS-Manager
#  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements.txt
  - pip install django==$DJANGO --quiet
  - pip install psycopg2 --quiet

before_script:
  - psql -c "CREATE DATABASE travisci;" -U postgres

script:
  - nosetests
#  - python /mysite/manage.py runserver
#  - python manage.py collectstatic --noinput
#  - python manage.py migrate
#  - python run manage.py test hello
#  - coverage run manage.py test hello

after_success:
  - coveralls
  - codeclimate-test-reporter

notifications:
    slack: utc-tx-gsm:oNPeOwfQS4YV4466fuXYqSUs
    email: false
