<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Django-SecurityAPI{% block title %} {% endblock %}</title>

    <!-- CSS  -->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static "css/loading.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static "images/favicon.jpg" %}"/>
    <script type="text/javascript">

    </script>
</head>

<body>
<header>
  <div class="navbar-fixed">
    <nav class="blue-grey darken-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo right"><img src="{% static "images/favicon.jpg" %}" height="50px" width="50px" />{{ user.username }}</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>

                <li><a href="/o/applications/">Your Applications</a></li>
                <li><a class="dropdown-button" href="#" data-activates="dropdown1" data-beloworigin="true" data-constrainwidth="false">Actions<i class="material-icons right">arrow_drop_down</i></a>
                  <ul id="dropdown1" class="dropdown-content" style="width:250px;position:absolute;top: 64px;left: 619.875px; opacity: 1; display: none;" >
                      {% if user.is_authenticated %}
                      <li><a class="red-text darken-4" href="/logout/">Logout</a></li>
                      <li><a class="darken-4" href="/change-password/">Change Password</a></li>
                      {% else %}
                      <li><a class="blue-text darken-4" href="/login/">Login</a></li>
                      <li><a class="cyan-text darken-4" href="/signup/">Sign Up</a></li>
                      {% endif %}
                      <li><a class="darken-4" href="/admin/">Administration pannel</a></li>
                      <li><a class="darken-4" href="/rest/">Test REST API</a></li>
                  </ul>
                </li>
            </ul>
        </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="side-nav">
    <li><a href="/">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    <li><a href="/change-password/">Change Password</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    {% endif %}
    <li><a href="/rest/">Test REST API</a></li>
    <li><a href="/o/applications/">Your Applications</a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown2" data-beloworigin="true" data-stoppropagation="true">Actions<i class="material-icons right">arrow_drop_down</i></a>
      <ul id="dropdown2" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a class="grey-text darken-4" href="/logout/">Logout</a></li>
        {% else %}
        <li><a class="grey-text darken-4" href="/login/">Login</a></li>
        <li><a class="grey-text darken-4" href="/signup/">Sign Up</a></li>
        {% endif %}
        <li><a class="grey-text darken-4" href="/change-password/">Change-password</a></li>
        <li><a class="grey-text darken-4" href="/admin/">Administration pannel</a></li>
        <li><a class="grey-text darken-4" href="/rest/">Test REST API</a></li>
      </ul>
    </li>
  </ul>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

    <!--  Footer -->
    <footer class="page-footer blue-grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Django-SecurityAPI</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://github.com/DataIsTheNewBlack/Django-SecurityAPI">GitHub Repository</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Front-End Made with Materialize © 2017 Copyright Text
        <a class="grey-text text-lighten-4 right" href="https://github.com/DataIsTheNewBlack/Django-SecurityAPI">GitHub Repository</a>
        </div>
      </div>
    </footer>


    <!--  Scripts -->
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>

    <!-- JS snippets for the dropdown menu to work -->
    <script>
      $( document ).ready(function() {
        $(".button-collapse").sideNav();
        $('.dropdown-button + .dropdown-content').on('click', function(event) {
          event.stopPropagation();
        });
        $(".dropdown-button").dropdown();
      });
    </script>
    {% block script %} {% endblock %}
</body>

</html>
