{% extends "base.html" %}

{% block title %} | Setting New Password {% endblock %}

{% block content %}

<div class="container">
    <div class="section">
      {% if validlink %}
        <div class="row">
          <div class="row">
              <div class="col s12 m12">
                  <div class="icon-block">

                  <h3>Please enter your new password twice.</h3>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col s6 m6">
                  <div class="icon-block">
                    <form action="" method="post">
                        <div style="display:none">
                          {% csrf_token %}
                        </div>

                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">New password:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirm password:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Change my password" /></td>
                            </tr>
                        </table>

                    </form>
                </div>
              </div>
          </div>
      </div>
      {% else %}
      {% else %}
      <div class="row">
        <div class="row">
            <div class="col s12 m12">
                <div class="icon-block">
                <h3>Password reset unsuccessful.</h3>
                <p>The password reset link was invalid, <br />
                possibly because it has already been used. <br />
                Please request a new password reset.</p>
              </div>
            </div>
        </div>
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}
