{% extends "base.html" %}

{% block title %} | Reset Password Done ! {% endblock %}

{% block content %}

<div class="container">
    <div class="section">
        <div class="row">
          <div class="row">
              <div class="col s12 m12">
                  <div class="icon-block">
                    <h3>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</h3>
                    <h3>You should be receiving it shortly.</h3>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}
